/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
    --branding-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --heading-font-family: 'Playfair Display', serif;
    --default-heading-font-family:'Poppins', sans-serif;
}

body {
    font-family: var(--default-heading-font-family);
}

h1 {
    color: rgb(0, 0, 0);
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
    line-height: 1.5;
        }

h2 {
    color:#272142;
    font-family: var(--default-heading-font-family);
    font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
           }

p {
    color:#272142;
    font-size: 16px;
    line-height: 1.7;
    }

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p {
    margin: 0;
    font-size: 36px;
font-weight: 700;
}

.hero h2 {
    line-height: 1.5;
    font-weight: normal;
       font-size: 24px;
}

.btn-primary {
    border-radius: 4px;
background: var(--branding-color);
width: 200px;
padding: 18px 30px;
font-size: 18px;
line-height: 27px;
}

.btn-branding-outline {
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    color: var(--branding-color);

width: 200px;
padding: 18px 30px;
font-size: 18px;
line-height: 27px;

}

.project-description {
    padding: 120px 60px;
}

.about-section {
    padding: 60px 60px;
}

.about-img-section {
    padding: 60px 60px;
}

.about-section h1 {
    font-size: 64px;
    font-family: var(--heading-font-family);
}

.about-section h2 {
font-size: 18px;
font-family: var(--default-heading-font-family);
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 1.4;
    }

    h2 {
        font-size: 43px;
       
    }

    .hero {
        
        padding: 80px 20px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
        

    .about-section h1 {
            font-size: 40px;
                    }  
                    .about-section {
                        text-align: center;
                        padding:  25px 0;
                    } 
    }
