/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
    --branding-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --heading-font-family: 'Playfair Display', serif;
    --default-heading-font-family:'Poppins', sans-serif;
}

body {
    font-family: var(--default-heading-font-family);
}

h1 {
    color: rgb(0, 0, 0);
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
        }

h2 {
    color:#272142;
    font-family: var(--default-heading-font-family);
    font-weight: normal;
       font-size: 24px;
       }

p {
    color:#272142;
    

font-size: 36px;
font-weight: 700;
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p {
    margin: 0;
}

.hero h2 {
    line-height: 2;
}

.btn {
    border-radius: 4px;
background: var(--branding-color);
width: 200px;
padding: 18px 30px;
font-size: 18px;
line-height: 27px;
}